@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", serif;
    font-style: normal;
}

.btn-primary-custom {
    @apply border border-tertiery1 text-tertiery1 hover:bg-secondary3 hover:text-bg3 hover:border-secondary3
}

.btn-secondary-custom {
    @apply bg-secondary3 text-bg3 hover:bg-bg1 hover:text-secondary3 hover:border-bg1
}

.btn-tertiery-custom {
    @apply bg-base-100 text-gray-800 hover:text-secondary3
}

.nav-link.active {
    @apply font-semibold text-lg
}

@media (min-width: 1024px) {
    #carousel-slides {
        display: flex;
        flex-wrap: nowrap; /* Pastikan semua slide dalam satu baris */
    }
    #carousel-slides > div {
        width: 25%; /* 4 gambar per slide */
    }
}

@media (max-width: 1023px) {
    #carousel-slides {
        display: flex;
        flex-wrap: nowrap; /* Pastikan semua slide dalam satu baris */
    }
    #carousel-slides > div {
        width: 100%; /* 1 gambar per slide */
    }
}

